# About ${project.groupId}:${project.artifactId}:${project.version}

This is is some data about this project (${project.groupId}:${project.artifactId}:${project.version})

This is the root parent for thes ${project.groupId} builds.

